[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
requests = "*"
django-cleanup = "*"
python-decouple = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework = "*"
django = "==3.2"
Pipfile = "*"
psycopg2 = "*"
celery = "*"
redis = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
